.content-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15.0086px;
    /* line-height: 23px; */
    color: #304858;

}

.content-text-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13.0086px;
    /* line-height: 23px; */
    color: #5d6062;

}