<div class="nav-main">
    <div class="nav-sub1">
        <h4>General</h4>
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <iconify-icon icon="cil:home" class="oi"></iconify-icon> Dashboard
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="transactions">
                    <iconify-icon icon="bx:wallet-alt" class="oi"></iconify-icon> Transactions
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="history">
                    <iconify-icon icon="foundation:graph-trend" class="oi"></iconify-icon> History
                </NavLink>
            </div>
        </nav>
        <hr />
        <h4>Other</h4>
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="help">
                    <iconify-icon icon="healthicons:alert-circle-outline" class="oi"></iconify-icon> Help & Support
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="setting">
                    <iconify-icon icon="clarity:settings-line" class="oi"></iconify-icon> Setting
                </NavLink>
            </div>
        </nav>
    </div>
    <div class="button-logout">
        <div class="nav-item px-3">
            <button class="nav-link" href="logout">
                <iconify-icon icon="mdi-light:logout" class="oi"></iconify-icon>Log Out
            </button>
        </div>
    </div>
</div>
